<!doctype html>
<html lang="en" ng-app="demo" ng-controller="DemoCtrl">
<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
  <meta charset="utf-8">
  <title>Client-side authentication demo</title>
</head>

<body>

<div>
  <div>
  <form>
    <p><button ng-click="login()">Login To Google</button></p>
    <p><button ng-click="loginToGithub()">Login to Github</button></p>
    Lunch on: <input type="date" ng-model="lunchDate" />
    At: <input type="time" ng-model="lunchTime" />
    <button ng-click="addEvent()">Lunch me!</button>
  </form>
  </div>

  <div ng-show="newEvent">
    Woot! Your going to lunch with {{chosenMember.name}}
  </div>
</div>

<script src="vendor/underscore.js"></script>
<script src="bower_components/moment/moment.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="vendor/ui-bootstrap-tpls-0.6.0.js"></script>
<script src="bower_components/angular-googleapi/src/angular-googleapi.js"></script>
    <script src="https://cdn.firebase.com/v0/firebase.js"></script>
    <script src="https://cdn.firebase.com/v0/firebase-simple-login.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/0.3.0/angularfire.min.js"></script>
<script src="controllers.js"></script>
<script>
  function googleClientLoaded() {
    // gapi.auth.authorize({client_id: "nothing", scope: [], immediate: false});
  }
</script>
<script src="https://apis.google.com/js/client.js?onload=googleClientLoaded"></script>


</body>
</html>